@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
  <b><a asp-action="Create">Create New</a></b>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
               Category Icon
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
            <img  src="~/img/@item.ImagePath" style="width:200px; height:100px" asp-append-version="true"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CartegoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CartegoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CartegoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
